  <footer class="footer">
    <div class="container footer__inner">
      <span>&copy; {{year}} Kiosk Portal</span>
    </div>
  </footer>
  {{#if user}}
  <a href="/dashboard/download/apk" class="download-apk-btn" title="Download Kiosk APK">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 15.577l-3.539-3.538 1.415-1.414L11 12.586V3h2v9.586l1.124-1.125 1.415 1.414L12 15.577z" fill="currentColor"/>
      <path d="M19 9v10H5V9H3v11a1 1 0 001 1h16a1 1 0 001-1V9h-2z" fill="currentColor"/>
    </svg>
  </a>
  {{/if}}
</body>
</html>

